<div class="flex column center-items dialog-container gap-05em">
    <h1>Fichers</h1>
    @if (fichiers.length==0) {
        <h1>Aucun fichier</h1>
     }
    <div class="grid grid-2 gap-05em">
        <div class="image grid grid-4 gap-05em">
            @for (item of images; track $index) {
                <div class="file-container">
                    <img [src]="getFileLink(item.filename)" alt="" (click)="openPic(item)">
                    <div class="overlay">
                        <div class="flex column gap-05em">
                            <app-icon-component [fontsize]=2 (click)="openPic(item)" name="edit_icon" hoverColor="#fff" baseColor="#aaa"></app-icon-component>
                            <app-icon-component [fontsize]=2 (click)="onDownload(item.filename)" name="download_icon" hoverColor="#fff" baseColor="#aaa"></app-icon-component>
                            <app-icon-component [fontsize]=2 (click)="onDelete(item.id)" hoverColor="#fff" baseColor="#aaa"></app-icon-component>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="flex column">
            @for (item of autres; track $index) {
                <div class="flex row gap-05em">
                    <p> {{ item.filename }} </p>
                    <app-icon-component (click)="onDownload(item.filename)" name="download_icon" hoverColor="#cf0000" baseColor="#000"></app-icon-component>
                    <!-- <button (click)="onDownload(item.filename)">Download</button> -->
                    <app-icon-component (click)="onDelete(item.id)" hoverColor="#cf0000" baseColor="#000"></app-icon-component>
                </div>
            }
        </div>
    </div>
    <div class="flex row gap-05em">
        <label for="selectFile" class="selectFile simple-button-1">Upload</label>
        <button [disabled]="selectedFiles.length<=0" (click)="onSubmit()" class="notification-button simple-button-1 ">
            Valider
            @if (selectedFiles.length) {
                <span class="notification-badge">{{ selectedFiles.length }}</span>
            }
        </button>
    </div>
</div>
<input type="file" name="" id="selectFile" multiple (change)="onFileSelected($event)" hidden>
