<div class="flex column gap-05em">
    <div class="flex row space-between subtask-case" [ngClass]="getClass()">
        <div class="flex row gap-05em ">
            <h1>{{ task.title }}</h1>
            <button (click)="dropSubtask()">Delete</button>
            <button (click)="openCommentaries()" class="nav-button">Commentaires</button>
            <button (click)="openDialog()" class="nav-button">Fichiers</button>
            @if (!task.done) {
                <button (click)="finishSubTask(task.id)" class="nav-button">D</button>
            }
        </div>
        <h1> {{ task.deadLine | date:'d MMMM y' }} </h1>
    </div>
    <!-- @if (task.children.length) { -->
        @for (subtask of task.children; track $index) {
            <div class="subtask-component">
                <app-task-tree [taskTitle]="taskTitle" [task]="subtask" (maj)="relaiToSource()"></app-task-tree>
            </div>
        }
    <!-- } -->
    <form [formGroup]="subTaskForm" (submit)="addSubTask()">
        <div class="flex row gap-05em">
            <input type="text" [placeholder]="placeHolder" formControlName="title">
            <input type="date" name="" id="" formControlName="deadLine">
            <input type="submit" value="add" [disabled]="testDisabled()" class="simple-button-1">
        </div>
    </form>

</div>
