.icon{
    color: red;
    transition: 0.5s;
    font-size: 2.5em;
    align-content: center;
    justify-items: center;
    // height: 100%;
    display: flex;
    align-items: center;
    // background: #ddd;
    border-radius: 0.1em;
    cursor: pointer;
    font-size-adjust: inherit;
}
.icon:hover{
    color: #b10000;
    transform: scale(1.1);
}
