.icon{
    color: var(--base-color);
    transition: 0.5s;
    align-content: center;
    justify-items: center;
    // height: 100%;
    display: flex;
    align-items: center;
    // background: #ddd;
    border-radius: 0.1em;
    cursor: pointer;
    font-size-adjust: inherit;
}
.icon:hover{
    color: var(--hover-color);
    transform: scale(1.1);
}
